main{
    display: flex;
    
}
.natvar{
    position: fixed;
}

h2{
    margin-top: 4rem;
    margin-left: 3rem;
    font-size: 1.6rem;
}

button{
    
    margin-left: 3rem;
    width: 18rem;
    height: 2.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 1rem;
    
}
header{
    width: 24rem;
}

section{
    margin-top: 1rem;
    margin-left: 3rem;
    display: flex;
    
    
    
}
article{
    font-size: 1.6rem;
}
 h3{
    color: darkblue;
 }
 .sectionGeneral {
    padding-left: 21rem ;
    margin-top: 4rem;
 }
 .size{
    font-size: 2rem;
 }
h3{
    font-size: 3rem;
}
 h6{
    color: aqua;
 }

 
